In [10]:
import requests
#loading package and connect to database
one = requests.get('https://swapi.dev/api/people/1')

In [11]:
#sample pitput
char = one.json()
char

{'birth_year': '19BBY',
 'created': '2014-12-09T13:50:51.644000Z',
 'edited': '2014-12-20T21:17:56.891000Z',
 'eye_color': 'blue',
 'films': ['http://swapi.dev/api/films/1/',
  'http://swapi.dev/api/films/2/',
  'http://swapi.dev/api/films/3/',
  'http://swapi.dev/api/films/6/'],
 'gender': 'male',
 'hair_color': 'blond',
 'height': '172',
 'homeworld': 'http://swapi.dev/api/planets/1/',
 'mass': '77',
 'name': 'Luke Skywalker',
 'skin_color': 'fair',
 'species': [],
 'starships': ['http://swapi.dev/api/starships/12/',
  'http://swapi.dev/api/starships/22/'],
 'url': 'http://swapi.dev/api/people/1/',
 'vehicles': ['http://swapi.dev/api/vehicles/14/',
  'http://swapi.dev/api/vehicles/30/']}

In [72]:
#getting information about every person
instance  = requests.get("https://swapi.dev/api/people/")
all = list()
while instance.json()["next"]:
    all += instance.json()['results']
    instance = requests.get(instance.json()['next'])

all += instance.json()['results']

In [73]:
import pandas as pd
#transform json response into dataframe
df = pd.json_normalize(all)
df.head()

             name  ...                             url
0  Luke Skywalker  ...  http://swapi.dev/api/people/1/
1           C-3PO  ...  http://swapi.dev/api/people/2/
2           R2-D2  ...  http://swapi.dev/api/people/3/
3     Darth Vader  ...  http://swapi.dev/api/people/4/
4     Leia Organa  ...  http://swapi.dev/api/people/5/

[5 rows x 16 columns]

In [74]:
df.shape

(82, 16)

In [47]:
#find the oldest person
birth = df["birth_year"]
import numpy as np
birth = birth.str.replace('BBY','').replace('unknown',0).astype('float')
df["age"] = birth
df.sort_values(by=['age'], ascending=False).head(1)

    name height  ...                              url    age
18  Yoda     66  ...  http://swapi.dev/api/people/20/  896.0

[1 rows x 17 columns]

In [44]:
#list of films Yoda appeared in
films = [x for x in df.sort_values(by=['age'], ascending=False).head(1)["films"]][0]
film_names = [requests.get(i).json()['title'] for i in films]
film_names

['The Empire Strikes Back',
 'Return of the Jedi',
 'The Phantom Menace',
 'Attack of the Clones',
 'Revenge of the Sith']